body {
	font-size: 1rem;
    font-weight: 300;
	font-family: 'Kanit', Tahoma, sans-serif;

	background-color: #cfffff;
	margin: 0;
	min-height: 100vh;
	width: 100vw;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	flex-flow: column;
}

.userContainer {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	flex-flow: column;
	height: 100vh;
}

.headerContainer {
	flex: 1;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	flex-flow: column;
	align-self: center;
	text-align: center;
}

.headerContainer > h1 {
	margin: 0;
}

.headerContainer > h3 {
	margin: 0;
}

.Logo {
	font-size: 4.5rem;
}

.interactContainer {
	flex: 4;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	flex-flow: row;
	margin-bottom: 10px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.warningContainer {
	flex: 1;
	align-self: center;
	width: 50%;
	text-align: center;

}

.warningPic > img {
	align-self: center;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}


.howtoContainer {
	flex: 1;
	align-self: center;
	text-align: center;
	background: rgba(255,255,255,0.8);
	border-radius: 50px;
	margin: 50px;
}

.whatis {
	margin-left: 10px;
	margin-right: 10px;
}

.howto {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	flex-flow: column;
	margin: auto;
}

.howto > div {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	flex-flow: row;
	margin-top: 10px;
	margin-bottom: 10px;
}

.howto > div > div {
	font-size: 1rem;
	width: 40%;
	margin: auto 0;
	text-align: left;
}

.howto > div > img {
	margin-right: 10px;
	width: 15%;
	height: 15%;
}







.historyContainer {
	text-align: center;
	align-self: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.historyTable {
	border-collapse: collapse;
	align-self: center;
}

.historyTable > thead{
	border: 1px solid black;
}

.historyTable > tbody > tr > td{
	border: 1px solid black;
}

.historyTable > thead > tr > td {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.number {
	width: 5vw;
}

.date {
	width: 10vw;
}

.time {
	width: 10vw;
}

.duration {
	width: 10vw;
}

